# Node
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.*.local

# OS
.DS_Store
Thumbs.db
#Mac os index files
._* 

# Output
download/
*.part

.history/
docs/
backup/
signup/
session.json

Courses.*